
.container{
    display: flex;
    padding: 5px;
}
.post-container{
    width: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}   
.post-image{
    height: 250px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 370px;
    border-radius: 5px;
    padding-top: 5px;
}
p{
    
    font-family: Arial;
    font-weight: 150;
    font-size: 18px;
    
}

.post-paragraph{
    font-family: Arial;
    font-weight: 150;
    font-size: 18px;
    
}

.post-detail{
    display: flex;
    justify-content: space-between;
 padding: 8px;
}